@model ReportWithCategoryViewModel

@{
    ViewData["Title"] = "Day-by-Day Report";
}

<h2>
    Day-by-Day Report in the "@Model.Category" category from [@Model.FirstDate.ToString("yyyy-MM-dd")] to [@Model.LastDate.ToString("yyyy-MM-dd")]
    <br />[@Model.Type]
</h2>
<hr />

<div>
    <canvas id="linearChart"></canvas>
</div>

@section scripts
{

}