@model ReportViewModel

@{
    ViewData["Title"] = "Report for " + Model.firstDate + "-" + Model.lastDate;  
}

<h2>Report from @Model.firstDate.ToString("yyyy-MM-dd") to @Model.lastDate.ToString("yyyy-MM-dd")</h2>
<hr />