@model ReportViewModel

@{
    ViewData["Title"] = "Report";
}

<h2>Report in the "@Model.Category" category from @Model.firstDate.ToString("yyyy-MM-dd") to @Model.lastDate.ToString("yyyy-MM-dd")</h2>
<hr />