@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to PFM</h1>
    <p>Database connection status: <span class="@ViewBag.ConnectionStatusColor">@ViewBag.ConnectionStatus</span></p>
</div>